/* 
black #000000 
darkgrey #212121 
mediumgrey #303030 
grey #424242
text white #ffffff 
*/

/* body {
    color: aliceblue;
    background-color: #1b1b1b;

} */

/* .slidecontainer {
    width: 100%; 
  } 
*/
  
  /* The slider itself */
/* .slider {
width: 25%; 
} */
  
/* .step1container {
background-color: #303030;
border-radius: 5px;
padding: 10px;
} */
.openingContainer {
    background-color: #bebebe;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

ul {
    list-style: none;
}

.appContainer {
    background-color: #bebebe;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

h2 {
    text-align: center;
}

input[type=time] {
    border-radius: 5px;
    border: 0px;
    width: fit-content;
    color: #303030;
    outline-style: none;
    background-color: rgba(245, 245, 245, .8);

  -webkit-appearance: none;
}